.landing-page {
  width: 100%;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);

  .one-ring-inscription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

     .info {
      text-align: center;
     .text {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}
